
@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @section scripts
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsChart.js")"></script>
    }




    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


</head>
<body>
    <h1 style="text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">MANAGE FORM AND APPROVAL</h1>
    <h2 style="padding-left:30px; font-size:14px; font-family:Calibri">Manage Your Employee Form, be wise and Approve</h2>
    <hr />






</body>
</html>